#file-editor-popup .ui-popup-content {
    margin-top: 1.4rem !important;
}

#file-editor-popup, #new-file-popup, #file-rename-popup {
    overflow: visible;
}

.ui-popup .ui-popup-footer.ui-bottom-button .ui-btn {
    height: 5.45rem !important;
}

#new-file-name, #rename-file, #text-editor {
    position: absolute;
    top: 25px;
    left: 80px;
    width: 200px;
}

#text-editor {
    height: 230px;
    border-radius: 15px;
}

#new-file-name-save, #rename-file-save, #save-file {
    background-color: green;
    border-radius: 10px;
    height: 40px;
    line-height: 2.3125rem;
    width: 120px;
    position: absolute;
    left: 120px;
}

#new-file-name-save, #rename-file-save {
    top: 95px;
}

#save-file {
    top: 260px;
}

#file-rename, #file-delete {
    width: 80%;
    border-radius: 20px;
    margin: 5px auto;
    line-height: 3rem;
}

#new-file-name-save {
    background-color: green !important;
}

#file-rename, #rename-file-save {
    background-color: rgba(0, 185, 255, 0.9) !important;
}

#file-delete {
    background-color: rgba(255, 9, 14, 0.9) !important;
}